// Custom styles.
/*******************首页样式*****************************/

// 网站背景（自适应）
body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;



/*左上角header顶部的部分 */
.site-brand-container{ 
    
    background:#283747;
   
}

/*左上角header */
.header-inner{
    background: rgba(255,255,255,0.85); //背景是白色，  0.85是透明度
}



/*左下角sidebar */
.sidebar { 
  
    opacity: 0.85;
   
}

/*post主题部分 */
.content-wrap { 
  
    
    opacity: 0.85;
   
}


/*底部*/
.footer > div > div {    
        color:#2C3E50 ;
    }
}

/*
.site-meta {
  background:url(http://cdn.zzwwqq.xyz/static/images/hexo/hexo-0-site-meta.jpg)
    
  }
  //主标题颜色
.brand{
    color: #4dfc23
    }
  //副标题颜色
.site-subtitle{
    color: #4dfc23
  }

*/

/*


*/


/*******************其他样式*****************************/



// 自定义页脚跳动的心样式
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}

/*
// 搜索功能样式
.local-search-popup {
    display: none;
    position: fixed;
    top: 10%;
    left: ;
    margin-left: ;
    height: 80%;
    padding: 0;
    background: #000000ab; // 搜索框背景色
    color: #000000; // 搜索框文字颜色
    z-index: 9999;
    border-radius: 0.5em;
}



// 右下角返回顶部按钮样式
.back-to-top {
    line-height: 1.5;
    right: 10px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: rgba(34, 34, 34, 0.75);
    border-radius: 0.5em;
    box-shadow: 0px 0px 0.1em 0px rgba(0, 0, 0, 0.35);
}

*/

